@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #287a8a;
  --foreground: #11daec4f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e6a5d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
